.athlete-form {
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.top-bar h1 {
  margin-left: 20px;
}

.exit-btn{
  font-size: 2rem;
  cursor: pointer;
}

.athlete-form .form-field{
  margin-top: 10px;
  width: 100%;
}

.athlete-form .submit-btn {
  margin-top: 20px;
  width: 100%;
}
