.sidebar-logo img{
  width: 140px;
  padding: 5px;
}

.sidebar-icons{
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 60%;
}
.sidebar-fa-icon{
    margin: 10px;
    font-size: 35px;
    color: #a7a7a7;
}
