.app{
  display: flex;
  justify-content: center;
}

.main-layout{
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 1300px;
}

.main-content{
  flex: 1;
  padding: 2px;
}

.sidebar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 500px) {
  .main-layout{
    flex-direction: row;
    width: 100%;
  }

  .main-content{
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 80px);
  }

  .sidebar{
    background-color: #e2e1e1;
    width: 60px;
    height: 44%;
    border-radius: 100px;
    margin-top: 220px;
    margin-right: 10px;
  }
}

@media (min-width: 800px) {
  .sidebar{
    height: 426px;
    width: 70px;
  }
}
