.title, .navbar{
  text-align: center;
  justify-content: center;
}

.navbar{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.navbar p{
  padding: 3px;
  background-color: #3f3f3f;
  color: white;
  border-radius: 100px;
}

.title h1{
  font-size: 35px;
  color: #3f3f3f;
}
